/*BODY*/


ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

a {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.links {
	font-size: 18px;
	text-align: center;
	display: inline;
	padding:18px;
	margin: 0;

}

body {
	width: 600px;
	margin: auto;
}

.header {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	border-bottom: 1px solid lightgrey;
}

.section {
	width: 600px;
	margin-bottom: 10px;
}

.experience {
	padding-left: 6px;
	padding-bottom: 5px;
	margin: 0; 
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	padding-left: 6px;
}

/*IMAGES*/

img {
	max-width: 200px;
	border-radius: 100px;
	margin-bottom: 18px;
}


/* HEADINGS */

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Roboto', sans-serif;

}

h1 {
	font-size: 20px;
	color: white;
	margin-bottom: 10px;
	padding-top: 6px;
	padding-left: 8px;
	padding-bottom: 6px;
	background-color: mediumturquoise;

}

h2 {
	font-size: 24px;
	font-weight: 800;
	color: mediumturquoise;
	margin: 0;
	padding-bottom: 2px;
	text-align: center;
}

h3 {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	padding-bottom: 2px; 
}

h4 {
	font-size: 14px;
	font-weight: 600;
	color: #666666;
	margin: 0;
	padding-bottom: 2px;
}
